[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Categories=Network;
Icon=harbour-tailscale
Exec=harbour-tailscale
Name=Tailscale
Comment=Tailscale makes networking easy

[X-Sailjail]
Sandboxing=Disabled
